https://github.com/Skylark0924/Rofunc/releases/download/v0.0.2.3/pbdlib-0.1-py3-none-any.whl
https://github.com/Skylark0924/Rofunc/releases/download/v0.0.0.9/isaacgym-1.0rc4-py3-none-any.whl

numpy~=1.23.0
rofunc~=0.0.2.4
torch~=2.0.1
scipy~=1.10.1
matplotlib~=3.7.2
open3d~=0.17.0
Pillow~=9.5.0
pyquaternion~=0.9.9
nestle~=0.2.0
tqdm~=4.65.0
requests~=2.31.0
PyGithub~=1.59.1
omegaconf~=2.3.0
neurokit2~=0.2.4
opencv-python~=4.7.0.72
pandas~=2.0.3
pytz~=2023.3
pbdlib~=0.1
termcolor~=2.3.0
gym~=0.26.2
gymnasium~=0.29.1
packaging~=23.1
torchvision~=0.15.2
PyYAML~=6.0.1
isaacgym~=1.0rc4
tensorboard~=2.13.0
transformers~=4.30.1
dgl~=1.1.2
shutup~=0.2.0
gdown~=4.7.1
imageio~=2.31.2
click~=8.1.7
setuptools~=63.2.0