scikit-learn
myst-parser
sphinx==7.1.2
sphinx_markdown_tables
sphinx_gallery
sphinx-book-theme
sphinxext-rediraffe
sphinxext-opengraph
sphinx_copybutton 
sphinx_design 
sphinx-autodoc2==0.4.2
sphinx_pyscript
sphinx_tippy
sphinx_togglebutton
sphinx-tabs
pillow
neurokit2
gdown
nestle
hydra-core
omegaconf
shutup
skrl
ray[rllib]==2.2.0
elegantrl
https://github.com/Skylark0924/Rofunc/releases/download/v0.0.2.3/pbdlib-0.1-py3-none-any.whl
https://github.com/Skylark0924/Rofunc/releases/download/v0.0.0.9/isaacgym-1.0rc4-py3-none-any.whl
matplotlib==3.7.1
numpy==1.21.6
open3d
kinpy
transformers
astroid<3

