env:
  stateInit: "Hybrid"
  enableEarlyTermination: True

  terminationHeight: 0.15
  charHeight: 1.5

  keyBodies: [ "HAND_R", "HAND_L", "FOOT_R", "FOOT_L" ]
  contactBodies: [ "FOOT_R", "FOOT_L", "ASTRAGALUS_R", "ASTRAGALUS_L"]
  headRbName: "HEAD"
  collisionFilter: 1


  # animation files to learn from
#  motion_file: "examples/data/hotu2/20240509/all_zju_motion.yaml"
  motion_file: "examples/data/hotu2/20240509/Ramdom (good)_Take 2024-05-09 04.49.16 PM_optitrack2zju.npy"

  use_extra_dof_states_motion: True
  extra_rewrite_dof_names: "all"

  motion_file_asset: "mjcf/themis/TH01.xml"

  object_motion_file:

  asset:
    assetFileName: "mjcf/themis/TH01.xml"

  use_object_motion: False
  object_asset:
    assetName:    # List of object names, also used for finding objects in object_motion_file, if the name is box or sphere, it will be created as a box or sphere
    assetFileName:     # List of object asset file path
    assetSize:         # List of object size, used for scaling the object and creating the box objects

task:
  wb_decompose: False  # if True, decompose the whole body into parts
  wb_decompose_parameter:
    parts: [ "body" ]
  use_synergy: False  # if True, use the synergy for the hand