<!--
__author__    = "Westwood Robotics Corporation"
__email__     = "info@westwoodrobotics.io"
__copyright__ = "Copyright 2024 Westwood Robotics Corporation"
__date__      = "February 29, 2024"
__project__   = "BRUCE"
__version__   = "0.0.5"
__status__    = "Product"
-->

<model>
  <name>bruce</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Westwood Robotics Corporation</name>
   <email>info@westwoodrobotics.io</email>
  </author>

  <description>
    Simple version of BRUCE-OP sdf.
  </description>
</model>
