<?xml version="1.0"?>
<robot name="bolt_m4_tight_SI">
  <link name="bolt_m4_tight_SI">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="bolt_m4_tight.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="bolt_m4_tight.obj" scale="1 1 1"/>
      </geometry>
      <sdf resolution="512"/>
    </collision>
  </link>
</robot>
